@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Nanum+Brush+Script&family=Noto+Sans+KR:wght@100..900&display=swap");
@font-face {
  font-family: "HakgyoansimBunpilR";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimBunpilR.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

.body {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
    url("../Images/foodBG.jpg");
  background-size: cover;
  overflow: hidden;
}
.upBar {
  display: flex;
  align-items: center;
  height: 3.2rem;
  padding-left: 15px;
  padding-right: 15px;
  justify-content: space-between;
}
.upBar img {
  margin-left: 5.9rem;
  padding-top: 1.2rem;
  width: 10rem;
  cursor: pointer;
}
.upBar h3 {
  font-size: 15px;
  margin-right: 2.5rem;
}

.user {
  display: flex;
  align-items: center;
  padding-top: 40px;
}

.user h3 {
  font-size: 15px;
  margin-right: 1rem;
  cursor: pointer;
  color: white;
  transition: color 0.2s;
}

.user h3:hover {
  color: #007bff;
}

.board {
  background-image: url("../Images/board.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 800px;
  width: 1500px;
  padding: 50px 0;
}

.container {
  width: 90%;
  max-width: 800px;
  height: 100%;
  margin: 20px auto;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
}

.title {
  text-align: center;
  font-family: "HakgyoansimBunpilR";
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 58px;
  color: #000;
}
.buttondiv {
  height: 50px;
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  padding: 3px;
}
.searchPost {
  display: flex;
  align-items: center;
}
.searchPost input {
  height: 40px;
  padding-left: 15px;
  border-radius: 15px 0 0 15px;
}
.searchPost button {
  height: 40px;
  font-family: "HakgyoansimBunpilR";
  background-color: black;
  color: white;
  border-radius: 0 15px 15px 0;
  font-size: 18px;
  padding: 10px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.uploadBtn {
  text-align: center;
  font-family: "HakgyoansimBunpilR";
  background-color: black;
  color: white;
  border-radius: 15px;
  font-size: 15px;
  padding: 10px;
}

.postList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 6px;

  margin-bottom: 20px;
  height: calc(100% - 80px);
  max-height: 60vh; /* 스크롤 활성화를 위한 최대 높이 설정 */
  overflow-y: auto; /* 세로 스크롤 활성화 */

  scrollbar-width: thin;
  scrollbar-color: #000 #f9f9f9;
}

.postCard {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.postCard > h3 {
  font-family: "HakgyoansimBunpilR";
  margin: 0 0 10px;
  font-size: 25px;
  color: #000;
  cursor: pointer;
  font-weight: bold;
}
.postCard:hover > h3 {
  text-decoration: underline;
}

.postDetails {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #555;
}
.pagination button {
  margin: 0 5px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  background-color: white;
  cursor: pointer;
}

.pagination button:hover {
  background-color: #f0f0f0;
}

.pagination .activePage {
  background-color: #007bff;
  color: white;
}
.pagination {
  left: 50%; /* 화면 가운데 정렬 */
  display: flex;
  justify-content: center;
  background-color: transparent; /* 배경색 추가 */
  border: none;
  z-index: 1000; /* 다른 콘텐츠 위에 표시 */
}
.pagination button {
  border: none;
  border-radius: 5px;
}
