/* Home.module.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.upBar {
  width: 100%;
  height: 4.5rem;
  color: white;
  display: flex;
  align-items: center;
  position: fixed; /* Change 'position' from 'fixed-top' to 'fixed' */
  top: 0;
  z-index: 10; /* Ensures the bar is on top of the background */
  background-color: transparent; /* Initially transparent */
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth color transition */
}

#hd:hover {
  background-color: white;
  color: #6b8e23;
}
#hd:hover .upBar h2 {
  color: #6b8e23; /* Text color changes to green */
}
.upBar h2 {
  padding-left: 1rem;
  font-size: 32px;
  font-weight: bold;
}

.content {
  width: 100vw;
  height: 100vh;
}
.body {
  height: 0;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 100%;
}
.cp {
  position: absolute;
  top: 40%;
  left: 10%;
  font-size: 50px;
  color: white;
  font-weight: bold;
}
.searchBar {
  position: absolute;
  top: 60%;
  left: 8%;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 40px;
  padding: 5px 10px 5px 30px;
  display: flex;
  max-width: 90%;
}
.searchInput {
  border: none;
  outline: none;
  font-size: 16px;
  background: transparent; /* Makes the background transparent */
  width: 33rem;
  color: #333; /* Text color */
  border-radius: 40px;
}
.searchInput::placeholder {
  font-size: 18px;
}
.searchBar button {
  border: none;
  border-radius: 40px;
  padding: 10px 10px;
  background-color: #9a9ea3;
}
.searchIcon {
  width: 30px;
  height: 30px;
  color: #64fa92;
}

.goRoullete {
  position: absolute;
  top: 69.5%;
  left: 40.5%;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 15px;
  font-weight: bold;
  padding: 12px 17px;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  transition: 0.5s;
}
.goRoullete:hover {
  background-color: #55a872;
  color: white;
}
