/* Reset and box-sizing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
    url("../Images/foodBG.jpg");
  background-size: cover;
}
.upBar img {
  margin-left: 5.9rem;
  padding-top: 1.2rem;
  width: 10rem;
  cursor: pointer;
}

/* Main Content Area */
.contents {
  display: flex;
  padding-top: 5rem; /* Allows space for the fixed navigation bar */
  padding-left: 2rem;
  padding-right: 2rem;
}

/* Search Bar Styling */
.searchBar {
  display: flex;
  align-items: center;
  width: 80%;
  margin-bottom: -0.03rem;
}

.searchBar input {
  flex: 1; /* Takes up remaining space */
  border-radius: 10px 0 0 10px; /* Rounded corners on the left */
  padding: 0.5rem;
  margin: 0; /* Remove any default margin */
}

/* Map Box and Map Styling */
.mapBox {
  width: 80%;
}

.map {
  height: 450px;
  width: 80%;
  border-radius: 5px;
}

/* Bootstrap Button Styling */
.searchBT {
  padding: 0.55rem;
  color: white;
  background-color: #6b8e23;
  border: none;
  border-radius: 0 10px 10px 0; /* Rounded corners on the right */
  transition: background-color 0.3s ease;
  cursor: pointer; /* Optional: Add a pointer cursor */
  margin-left: -1px; /* Removes the gap between the input and button */
}

.searchBT:hover {
  background-color: #567d1d;
}
.resultBox {
  display: flex;
  flex-direction: column;
  color: white;
}
/* Responsive Padding Adjustments */
@media (min-width: 1200px) {
  .contents {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media (max-width: 600px) {
  .contents {
    padding-left: 1.3rem;
    padding-right: 1.3rem;
  }
  .upBar img {
    width: 7rem;
    margin-left: 2rem;
  }
}
