@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Nanum+Brush+Script&family=Noto+Sans+KR:wght@100..900&display=swap");

/* Reset and box-sizing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}

.body {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
    url("../Images/foodBG.jpg");
  background-size: cover;
}
.upBar img {
  margin-left: 5.9rem;
  padding-top: 1.2rem;
  width: 10rem;
  cursor: pointer;
}

/* Main Content Area */
.contents {
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
  color: white;
}
.resultUpbar {
  width: 100%;
  display: flex;
  justify-content: center;
}
.upBarcontent {
  display: flex;
  justify-content: space-between;

  width: 80%;
}
.cp {
  font-size: 48px;
  font-family: "Do Hyeon", sans-serif;
}
/* Search Bar Styling */
.searchBar {
  display: flex;
  align-items: center;
  width: 40%;
  margin-bottom: -1rem;
  float: bottom;
}

.searchBar input {
  flex: 1;
  border-radius: 10px 0 0 10px;
  padding: 0.55rem 0.75rem 0.55rem 1.05rem;
  margin: 0;
}
.searchBar input::placeholder {
  font-size: 15px;
}
.locationBT {
  padding: 0.55rem 0.75rem 0.55rem 0.55rem;
  background-color: #e6ffe6;
  color: #497649;
  cursor: pointer;
  border: none;
  margin-left: -2px;
}
.searchBT {
  padding: 0.55rem 0.75rem 0.55rem 0.55rem;
  color: white;
  background-color: #497649;
  border: none;
  border-radius: 0 10px 10px 0;
  transition: background-color 0.3s ease;
  cursor: pointer;
  margin-left: -1px;
}
button:disabled {
  background-color: #ccc; /* 비활성화 시 버튼 색상 변경 */
  cursor: not-allowed; /* 비활성화 시 커서 스타일 변경 */
}

.searchBT:hover {
  background-color: #567d1d;
}
/* Map Box and Map Styling */
.mapBox {
  width: 100%;

  display: flex;
  justify-content: center;
}

.map {
  height: 60vh;
  width: 80%;
  margin-left: 0.09rem;
  border-radius: 10px 10px 0 0;
}

.resultBottom {
  width: 100%;
  display: flex;
  justify-content: center;
}
.bottomContent {
  padding: 0.8rem 1rem;
  color: black;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #497649;
  border-radius: 0 0 20px 20px;
}
.searchInfo {
  display: flex;
  font-size: 36px;
  gap: 5rem;
  padding-left: 2rem;
}
.selectedItem,
.locationLook {
  display: flex;
  color: white;
  gap: 20px;
  align-items: center;
  font-family: "Do Hyeon", sans-serif;
}

.itemBorder {
  color: white;
  font-size: 36px;
  font-family: "Do Hyeon", sans-serif;
}
.goToReview {
  background-color: #e6ffe6;
  color: #497649;
  font-size: 24px;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: bold;
  padding: 13px 13px;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  transition: 0.3s;
  word-spacing: -0.15rem;
  display: flex;
  align-items: center;
}
.goToReview:hover {
  transform: scale(1.05);
}
.searchIcon {
  width: 30px;
  height: 30px;
}

/* Responsive Padding Adjustments */
@media (min-width: 1200px) {
  .contents {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media (max-width: 600px) {
  .contents {
    padding-left: 1.3rem;
    padding-right: 1.3rem;
  }
  .upBar img {
    width: 7rem;
    margin-left: 2rem;
  }
}
