* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}
.body {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
    url("../Images/foodBG.jpg");
  background-size: cover;
  overflow: hidden;
}
.review {
  width: 80%;
  height: auto;
  padding: 12vh 1vw;
  margin: 1.5rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* 내부 요소들을 가운데 정렬 */
}
.upBar img {
  position: fixed;
  margin-left: 5.9rem;
  padding-top: 1.2rem;
  width: 10rem;
  cursor: pointer;
}
.review Button {
  color: white;
  background-color: green;
  padding: 10px 15px;
  border: none;
  border-radius: 40px;
}
.selectMap {
  display: flex;
  gap: 12px;
  justify-content: start;
}
.review > * {
  width: 100%;
  /* 자식 요소가 부모 너비에 맞게 채워짐 */
  margin: 10px 10px;
  /* 상하 10px, 좌우 자동으로 가운데 정렬 */
  box-sizing: border-box;
  text-align: center;
}

.mapdiv {
  width: 60%;
  height: 500px;
}

.reviewdiv {
  width: 40%;
  background-color: lightgrey;
  border-radius: 0 10px 10px 0;
  font-size: 18px;
  max-height: 500px;
  overflow-y: auto;
}
.reviewdiv div {
  margin: 8px 4px 8px 4px;
  border-radius: 10px;
  background: white;
  padding: 3px 5px 3px 5px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.review_container {
  display: flex;
}
.divBT button {
  font-size: 14px;
  margin-left: 5px;
}
