.body {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
    url("../Images/foodBG.jpg");
  background-size: cover;
}
.upBar img {
  margin-left: 5.9rem;
  padding-top: 1.2rem;
  width: 10rem;
  cursor: pointer;
}

.container {
  display: flex;
  padding: 20px;
  align-items: center;
  margin: 2.5rem 5rem 4rem 8rem;
  gap: 12rem;
}

.roulette_outer {
  position: relative;
  overflow: hidden;
  margin-top: 20px;
  width: 100%;
  max-width: 800px;
  min-height: 550px;
  aspect-ratio: 1;
  font-size: 30px;
  border-radius: 50%;
  border: 2px solid black;
  background: #e7eff3;
}
.roulette {
  position: absolute;
  top: 5%;
  left: 5%;
  right: 5%;
  bottom: 5%;
  border: 4px solid grey;
  border-radius: 50%;
  transition: transform 7s ease-out;
}

.roulette_pin {
  position: absolute;
  top: 5%;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -4px;
  border-style: solid;
  border-width: 30px 5px 0 5px;
  border-color: #ff0000 transparent transparent transparent;
}

.roulette_outerbtn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 15%;
  height: 15%;
  max-width: 92px;
  max-height: 92px;
  border-radius: 50%;
  background: #8eedab;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}
.roulette_btn {
  width: 85%;
  height: 85%;
  border-radius: 50%;
  background: #9cafbf;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.roulette_btn:hover {
  background: #0056b3;
  transform: scale(1.05);
  transition: transform 0.2s ease;
}
.roulette_btn:active {
  transform: scale(0.65);
  transition: transform 0.1s ease;
}

.item {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 10%;
  text-align: center;
  display: flex;
  font-size: 10px;
  font-weight: 500;
  justify-content: center;
}

.line {
  position: absolute;
  top: 0%;
  bottom: 50%;
  left: 50%;
  width: 2px;
  background: grey;
  transform-origin: bottom;
}
.selectView {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.selectView {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.category_btn {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.categoryButton {
  background-color: white;
  font-weight: bold;
  border-radius: 6px;
  border: none;
  padding: 12px 19px;
  color: black;
  font-size: 18px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.active {
  background-color: green; /* Primary color */
  color: white;
}

.inactive {
  background-color: #f8f9fa; /* Light color */
  color: black;
}

.customItems_Input {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}
.customItems_Input input {
  padding: 5px 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.customItems_Input input:hover {
  background-color: #fff;
  transform: scale(1.05);
}
.customItems_Input button {
  padding: 5px 10px;
  background-color: #0f9e57;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.customItems_Input button:hover {
  background-color: #108143;
}
.customSideBar {
  position: fixed;
  top: 50%; /* 화면의 세로 중앙에 배치 */
  right: -330px; /* 빼꼼 나오는 초기 상태 */
  transform: translateY(-47%); /* 세로 중앙 정렬 */
  background-image: linear-gradient(rgba(0, 0, 0, 0.327), rgba(0, 0, 0, 0.3)),
    url("../Images/blackbord.jpg");
  background-size: cover;
  border: solid 4px #8b6331;
  padding: 40px 0 20px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border-radius: 20px;
  height: 80vh;
  width: 400px;
  cursor: pointer;
  overflow: auto;
  transition: right 0.5s ease-in-out;
}

.customSideBar:hover {
  right: 0; /* 커서가 올라갔을 때 완전히 나타남 */
}
.customItems_list {
  /* position: absolute;
  top: 30%;
  left: 80%; */
  max-width: 300px;
  display: flex;
  flex-direction: column;
}
.customItems_list li {
  margin: 10px 0;
  list-style-type: none;
}
.customItems_list li:hover {
  background-color: transparent;
  transform: scale(1.05);
}
.customItems_list input {
  padding: 5px 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.customItems_list button {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.customItems_list button:hover {
  background-color: #c82333;
}
.selectedItem {
  font-size: 36px;
  font-weight: bold;
  padding-top: 10px;
}
.CustomSelectMenu {
  position: absolute;
  left: 45%;
  top: 30%;
  background-image: url("../Images/menu.png");
  background-size: cover;
  height: 300px;
  width: 400px;
}
.selectMenu {
  display: flex;
  align-items: center;
  background-image: url("../Images/menu.png");
  background-size: cover;
  height: 300px;
  width: 400px;
  margin-right: 30px;
}
.CustomSelectMenu .menu {
  padding-top: 7rem;
  padding-left: 3rem;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.selectMenu .menu {
  padding-top: 2rem;
  padding-left: 9rem;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu h3 {
  font-weight: bold;
}
.goToReview,
.goToReview_custom {
  position: absolute;
  padding: 10px 15px;
  border: none;
  border-radius: 40px;
  background-color: white;
  color: green;
  font-size: 20px;
  font-weight: bold;
}
.goToReview,
.goToReview_custom:hover {
}
.goToReview {
  top: 76%;
  left: 73%;
}
.goToReview_custom {
  top: 68%;
  left: 60%;
}
.toggleSwitch {
  position: relative;
  display: inline-block;
  width: 47.7px;
  height: 23.33px;
}

.toggleSlider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.toggleSlider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

.toggleCheckbox {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggleCheckbox:checked + .toggleSlider {
  background-color: green;
}

.toggleCheckbox:checked + .toggleSlider:before {
  transform: translateX(26px);
}
.customSwitch {
  position: absolute;
  left: 24%;
  top: 11%;
  display: flex;
  gap: 10px;
  font-weight: bold;
  color: white;
  margin-bottom: 0;
}
